<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scdy.comprehensiveinsurance.dao.SensorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scdy.comprehensiveinsurance.entity.SensorEntity">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="manufacturer" property="manufacturer" />
        <result column="manufacturer_code" property="manufacturerCode" />
        <result column="sensor_name" property="sensorName" />
        <result column="sensor_name_code" property="sensorNameCode" />
        <result column="is_send" property="isSend" />
        <result column="application_type" property="applicationType" />
        <result column="func_type" property="funcType" />
        <result column="type_name" property="typeName" />
        <result column="relation" property="relation" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, is_deleted, manufacturer, manufacturer_code, sensor_name, sensor_name_code,is_send,application_type,func_type,type_name,relation
    </sql>

</mapper>
